<!DOCTYPE html>
<html lang= "en">
    <head>
        <meta charset = "utf-8">
        <title>TV Shows</title>
        <meta name="viewport" content="width-device-width, initial-scale-1">
        {% load static %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <div class="container">
        <body>
            <div class= "row">
                <h1>All Shows</h1>
            </div>
            <div class = "row">
                <table class= "table table-bordered table-striped">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Actions</th>
                    </tr>
                    {% for shows in all_shows %}
                    <tr>
                        <td>{{shows.id}}</td>
                        <td>{{shows.title}}</td>
                        <td>{{shows.network}}</td>
                        <td>{{shows.release_date}}</td>
                        <div id="tablelinks">
                            <td><a href="/shows/{{shows.id}}">Show</a>| <a href="/{{shows.id}}/edit">Edit</a>| <a href="shows/{{shows.id}}/destroy">Delete</a></td>
                        </div>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class = "row">
                <a href="/shows/new">Add a New Show</a>
            </div>
        </body>
    </div>